/* Fix code snippet indentation issue. */

/* Make jumbotron background a lil lighter.
.jumbotron {
  background-color: whitesmoke;
} */

/*


/* Grrrrrrr formatting. */
pre > code {
  margin-left: -7em;
  margin-top: -1em;
  margin-bottom: -1em;
}
