<!-- Customizing admin page. Note that we need to copy
stuff from abstract_base.html since Jinja doesn't support
multiple inheritance.

See: flask-admin.readthedocs.io -->
{% extends 'admin/master.html' %}

  {% block head %}
    {{ super() }}

    <!-- Bootstrap slider -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.3/css/bootstrap-slider.min.css">

    <!-- ------------- JavaScript ------------- -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Slider JavaScript. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.3/bootstrap-slider.min.js"></script>

    <!-- Core Bootstrap JS (NOT provided by Bootswatch!!). -->
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>

    <!-- Syntax Highlighting -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  {% endblock head %}


{% block body %}


{% endblock body %}
