{% extends "base.html" %}

{% block title %}You Got Served{% endblock title %}

{% block page_content %}

  <div class="jumbotron">
  <h1>The Server is Confused</h1>
  <p>
    Got yourself a 500 internal server error. Something is happening with the machines
    that should not be happening. Try pressing refresh. Or look at this dog.
  </p>
  </div>

  <div class="text-center">
  <img src="http://i.imgur.com/2iDJagm.jpg"
       class="img-fluid rounded"
       alt="Responsive image">
  </div>

{% endblock page_content %}
