<!doctype html>
<html lang="en">
<!-- app/templates/abstract_base.html: basic layout specifications. No real content.

Misc. Notes:
    - We assume that templates have been passed certain vars when called.
    - The 'block' control statement defines the place(s) where the derived
      templates can insert themselves.
-->

<head>
  {% block head %}

    {% block metas %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock metas %}

    <title>
      {% block title %}
        Abstract Title
      {% endblock title %}
    </title>


    <!-- ------------- CSS ------------- -->

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" id="theme-link"
          href="https://maxcdn.bootstrapcdn.com/bootswatch/latest/{{ session['theme'] }}/bootstrap.min.css">
    <!-- Custom styles for this template. -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/theme.css') }}">
    <!-- Bootstrap slider -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.3/css/bootstrap-slider.min.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Slider JavaScript. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.3/bootstrap-slider.min.js"></script>

  {% endblock head %}
</head>

<!-- The body -->
<body>


<!-- Any derived navbar implementations will be injected here. -->
{% block navbar %}{% endblock navbar %}

<!-- Declare a block with name 'content' for derived templates. -->
{% block content %}
  <div class="container">
    <!-- Display any flash() message calls from e.g. views.py -->
    {%  with messages = get_flashed_messages() %}
      {%  if messages %}
        <div class="alert alert-info">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  </div>  <!-- end: container -->
{%  endblock content %}

{% block scripts %}
    <!-- ------------- JavaScript ------------- -->

    <!-- Core Bootstrap JS (NOT provided by Bootswatch!!). -->
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <!-- Syntax Highlighting -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock scripts %}

</body>
</html>
