<form id="user-form" action="" method="POST">
  <!-- For CSRF reasons. -->
  {{ forms['user_form'].hidden_tag() }}

  <!-- User Name -->
  <div class="formgroup">
    <!-- Labeled input(s) -->
    <!-- TODO: specify styling of render inside form class. -->
    {{ forms['user_form'].nickname.label(style="text-transform: capitalize;") }}
    {{ forms['user_form'].nickname(class="form-control") }}
  </div>

  <!-- Blog Post -->
  <div class="formgroup">
    {{ forms['user_form'].post.label(style="text-transform: capitalize;") }}
    {{ forms['user_form'].post(class="form-control", rows="3") }}
  </div>

  <!-- Submit -->
  {{ forms['user_form'].submit(class="btn btn-primary") }}
</form>
