{% extends "abstract_base.html" %}
{% block title %}
  {% if active_page %}{{ active_page }}{% else %}FlaskPractice{% endif %}
{% endblock title %}

{% block head %}
  {{ super() }}
  <!-- My own styles. -->
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/style_additions.css') }}">
{% endblock head %}

{% block navbar %}
  {%  set navigation_bar = [
        ('/', 'index', 'Index'),
        ('/input_practice', 'input_practice', 'Input Practice'),
        ('/eloquent_javascript', 'eloquent_javascript', 'Eloquent JavaScript')
    ] -%}
  {%  set active_page = active_page|default('index') -%}

  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          {% for _ in range(3) %}
            <span class="icon-bar"></span>
          {% endfor %}
        </button>
        <a class="navbar-brand" href="/">FlaskPractice</a>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {%  for href, id, caption in navigation_bar %}
            <li {% if id == active_page %} class="active" {% endif %}>
              <a href="{{ href|e }}">{{ caption|e }}</a>
            </li>
          {% endfor %}

          <li class="dropdown">
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown"
               role="button"
               aria-haspopup="true"
               aria-expanded="false">
              Reference
              <span class="caret"></span></a>

            <ul class="dropdown-menu">
              <li><a href="{{ url_for('bootstrap_reference') }}">Bootstrap</a></li>
              <li><a href="{{ url_for('flask_reference') }}">Flask</a></li>
              <li><a href="{{ url_for('jquery_reference') }}">JQuery</a></li>
            </ul>  <!-- end: dropdown-menu -->
          </li>  <!-- end: dropdown -->
        </ul>  <!-- end: navbar-nav -->
      </div>  <!-- end: navbar -->
    </div>  <!-- end: container -->
  </nav>
{% endblock navbar %}

<!-- Declare a block with name 'content' for derived templates. -->
{% block content %}
  <!-- Allow for message handling/bookkeeping first. -->
  {{ super() }}

  <!-- Inject derived pages' content inside the following container. -->
  <div class="container">
    {% block page_content %}{% endblock page_content %}
  </div>
{%  endblock content %}




