{% extends "base.html" %}
{% set active_page = "databases" %}

<!-- Import macros. -->
{% from "macros/forms.html" import render_user_form %}
{% from "macros/requests.html" import delete_user, delete_post, post_request %}

{% block page_content %}

  <div class="jumbotron">
    <h1>Databases</h1>
    <p>Interacting with databases via Flask-SQLAlchemy.</p>
  </div>

  <div class="row">
    <div class="col-sm-12 user-post-list">

      <h2>Users</h2>
      <p>Below is a list of all users stored in the database. Click a user's name
        to see all of their logged posts.</p>

      <!-- Loop over all users -->
      {% for user in users if user.posts.count() %}

        <!-- so i don't have to keep typing this. -->
        {% set user_name = user.nickname|capitalize %}

        <div class="row user-row-{{ user_name }}">
          <div class="col-sm-10">
            <div class="panel panel-primary">

              <!-- Panel headings are names of users. -->
              <div class="panel-heading clearfix" data-toggle="collapse"
                   href="#{{ user_name }}-posts" aria-expanded="false">
                {{ user_name }}
              </div>

              <!-- Post list for the given user. -->
              <div id="{{ user_name }}-posts" class="panel-body collapse">
                <ul class="custom">
                  {%  for post in user.posts %}
                    <div class="row post-row-{{ post.id }}">
                      <div class="col-sm-10">
                        <!-- Post body -->
                        <li class="justify-content-between">
                          <!-- Timestamp on the right. -->
                          <span class="badge badge-default badge-pill">
                            {{ moment(post.timestamp).fromNow(refresh=True) }}
                          </span>
                          {% if post.body_html %}
                            <!-- safe: tell Jinja2 not to escape the HTML elements. -->
                            {{ post.body_html | safe }}
                          {% else %}
                            {{ post.body }}
                          {% endif %}
                      </div>
                      <!-- Delete a single post for this user. -->
                      <div class="col-sm-2">
                        {{ delete_post(post.id) }}
                      </div>
                    </div>
                  {%  endfor %}
                </ul>
              </div>
            </div>
          </div>
          <!-- Delete the user (and thus all their posts. -->
          <div class="col-sm-2">
            {{ delete_user(user_name) }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- Form for adding new users/posts. -->
  <div class="row">
    <div class="col-sm-10">
      <h2>Add to Database</h2>
        {{ post_request(forms['user_form']) }}
    </div>
  </div>  <!-- End: Add to Database (row) -->

  <!--
  <hr>
  <br>
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3>Your Request Response</h3>
        </div>
        <div id="request-display" class="panel-body">
  -->
          <!-- Inject recent request info here. -->
  <!--
        </div>
      </div>
    </div>
  </div>
  -->

{%  endblock page_content %}

