{% extends "base.html" %}
{% set active_page = "eloquent_javascript" %}

<head>
  {% block head %}
    {{ super() }}

    <style type="text/css">
      /* Defines a cleaner look for tables */
      table  { border-collapse: collapse; }
      td, th { border: 1px solid black; padding: 3px 8px; }
      th     { text-align: left; }
    </style>
  {% endblock head %}
</head>


{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>Eloquent JavaScript</h1>
      <p>Muh Notes</p>
    </div>


    <!-- Begin: Accordian -->
    <div id="accordian" role="tablist" aria-multiselectable="true">

      <!-- Begin: Card One -->
      <div class="card">

        <!-- Card Header -->
        <div class="card-header" role="tab" id="course-one">
          <h2 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordian" href="#course-one-content"
               aria-expanded="true" aria-controls="#course-one-content">
              The Document Object Model
            </a></h2>
        </div>

        <!-- Card Content -->
        <div id="course-one-content" class="collapse" role="tabpanel" aria-labelledby="course-one">

          <h4>Moving Through The Tree</h4>
          <div class="card-block row">
            <div class="col-sm-5">
              <ul>
                <li>The global variable <code>document</code> gives us access
                  to the browser's tree-like data structure. It's root node is
                  <code>document.documentElement</code> which points to the head element.
                </li>

                <li>Each DOM node object has a <code>nodeType</code> property.</li>

              </ul>
            </div>
            <div class="col-sm-7">
          <pre><code class="js">
            function talksAbout(node, string) {
              if (node.nodeType == document.ELEMENT_NODE) {
                for (var i = 0; i < node.childNodes.length; i++) {
                  if (talksAbout(node.childNodes[i], string))
                    return true;
                }
                return false;
              } else if (node.nodeType == document.TEXT_NODE) {
                return node.nodeValue.indexOf(string) > -1;
              }
            }
          </code></pre>
            </div>
          </div>

          <h4>Changing The Document</h4>
          <div class="card-block row">
            <div class="col-sm-5">
              <ul>
                <li>Element nodes have a lot of methods we can use to change their content, such as
                  removeChild, appendChild, insertBefore, etc. The snippet on the right shows how to
                  insert a node (first arg) before another (second arg).
                </li>

              </ul>
            </div>
            <div class="col-sm-7">
            <pre><code class="js">
            var paragraphs = document.body.getElementsByTagName("p");
            document.body.insertBefore(paragraphs[2], paragraphs[0]);
            </code></pre>
            </div>
          </div>

        </div>  <!-- End: Card Content -->
      </div>  <!-- End: Card One -->

      <!-- Begin: Card Two-->
      <div class="card">

        <!-- Card Header -->
        <div class="card-header" role="tab" id="course-two">
          <h2 class="mb-0">
            <a data-toggle="collapse" data-parent="#accordian" href="#course-two-content"
               aria-expanded="true" aria-controls="#course-two-content">
              Handling Events
            </a></h2>
        </div>

        <!-- Card Content -->
        <div id="course-two-content" class="collapse" role="tabpanel" aria-labelledby="course-two">

          <div class="cardify" title="Event Handlers">
            <p>Click this do</p>
          </div>


        </div>  <!-- End: Card Content -->
      </div>  <!-- End: Card Two -->

      <!-- Begin: Card Three -->
      <div class="card">

        <!-- Card Header -->
        <div class="card-header" role="tab" id="exercises">
          <h2 class="mb-0">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordian"
               href="#exercises-content"
               aria-expanded="true" aria-controls="#exercises-content">
              Exercises
            </a></h2>
        </div>

        <!-- Exercises from EloquentJavaScript.net -->
        <div id="exercises-content" class="collapse" role="tabpanel" aria-labelledby="exercises">

          <!-- Build a Table -->
          <div class="cardify" title="Build Table" id="mountains_table">
            <!-- Injects code from build_table.js -->
            <div id="mountains_table"></div>
          </div>

          <hr>
          <!-- Censored Keyboard -->
          <div class="cardify" title="Censored Keyboard" id="censored_keyboard">
            <p> You cannot type Q, W, or X here.  </p>
            <!-- Injects code from censored_keyboard.js -->
            <div class="input-group">
              <input id="censored_keyboard" type="text" class="form-control">
            </div>
          </div>

        </div>


      </div>  <!-- End: Card Two -->

    </div>  <!-- End: Accordian -->


  </div>

  <!-- Script for beautification. -->
  <script src="{{ url_for('static', filename='js/note_taker.js') }}"></script>
  <!-- muh table -->
  <script src="{{ url_for('static', filename='js/build_table.js') }}"></script>
  <!-- muh censoring -->
  <script src="{{ url_for('static', filename='js/censored_keyboard.js') }}"></script>

{%  endblock content %}
