{% extends "base.html" %}
{% set active_page = "games" %}

{% block head %}
  {{ super() }}
  <style type="text/css">


    hr {
      border: none;
      height: 2px;
      background-color: #5e5e5e;
    }

    .row {
      padding-bottom: 1.5em;
    }

    canvas {
      border: 2px solid black;
      border-radius: 5px;
    }

    .slider-selection {
      background: #BABABA;
    }

    #clockdiv > div{
      padding: 5px;
      position: absolute;
      left: -5em;
      border-radius: 3px;
      /*background: lightseagreen;
      display: inline-block;*/
    }

    .smalltext{
      padding-top: 5px;
      font-size: 16px;
    }
  </style>


{% endblock head %}



{% block page_content %}

  <div class="jumbotron">
    <h1>Games in JavaScript</h1>
    <p>Using the canvas element for making games.</p>
  </div>


  <div class="row">
    <h2>Breakout</h2>
    <p>Mouse-over to play.</p>
    <canvas id="breakout-canvas" width="480" height="320"></canvas>
  </div>

  <hr>
  <!-- snek -->
  <div id='snake-row' class="row">
    <h2>Snake</h2>

    <div class="col-sm-3">
      <label for="interval" class="label-group">Interval:</label>
      <input id="interval"
             class="slider-selection"
             data-slider-id='interval-slider'
             type="text"
             data-slider-min="0"
             data-slider-max="500"
             data-slider-step="10"
             data-slider-value="100"/>

      <br><br>
      <label for="unit-size" class="label-group">Unit Size:</label>
      <input id="unit-size"
             data-slider-id='unit-size-slider'
             type="text"
             data-slider-min="0"
             data-slider-max="40"
             data-slider-step="10"
             data-slider-value="20"/>

      <br><br>
      <button id='restart-btn' type="button" class="btn btn-primary">
        Restart Game
      </button>

      <script>
          $('#interval').slider({formatter: function(value) {
              return 'Current value: ' + value;
          }
          });

          $('#unit-size').slider({formatter: function(value) {
              return 'Current value: ' + value;
          }
          });
      </script>
    </div>

    <div class="col-sm-7">
      <canvas id="snake-canvas" width="400" height="400"></canvas>
    </div>

  </div>

  <!-- Allows us to use typescript (I think...). -->
  <script src="{{ url_for('static', filename='externals/require.js') }}"></script>
  <script src="{{ url_for('static', filename='built/require-config.js') }}"></script>
  <!-- Script that uses all elements that follow. -->
  <script>require(["{{ url_for('static', filename='built/games/snake.js') }}"])</script>
  <script>require(["{{ url_for('static', filename='built/games/breakout.js') }}"])</script>
  <script></script>

{% endblock page_content %}

