{% extends "base.html" %}
{% set active_page = "games" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/games.css') }}">
{% endblock head %}

{% block page_content %}

  <div class="jumbotron">
    <h1>Games in JavaScript</h1>
    <p>Using the canvas element for making games.
      All written in <a href="https://www.typescriptlang.org/">TypeScript.</a>
    </p>
  </div>

  <div class="row">
    <h2>Breakout</h2>

    <div class="col-xs-12 col-sm-7">
      <p>Mouse-over to play.</p>
      <canvas id="breakout-canvas" width="480" height="320"></canvas>
    </div>

    <div class="col-xs-12 col-sm-5 pull-right">
      <h3>Example Snippet</h3>
      <pre><code class="js">
      export class Paddle {
        height: number;
        width: number;
        x: number;
        y: number;
        step: number;
      }
      </code></pre>
      <p>TypeScript makes OOP much easier than vanilla JS.</p>
    </div>
  </div>

  <hr>
  <!-- snek -->
  <div id='snake-row' class="row">
    <h2>Snake</h2>

    <div class="col-xs-12 col-sm-3">
      <label for="interval" class="label-group">Interval:</label>
      <input id="interval"
             class="slider-selection"
             data-slider-id='interval-slider'
             type="text"
             data-slider-min="0"
             data-slider-max="500"
             data-slider-step="10"
             data-slider-value="100"/>

      <br><br>
      <label for="unit-size" class="label-group">Unit Size:</label>
      <input id="unit-size"
             data-slider-id='unit-size-slider'
             type="text"
             data-slider-min="0"
             data-slider-max="40"
             data-slider-step="10"
             data-slider-value="20"/>

      <br>
      <button id='restart-btn' type="button" class="btn btn-primary">
        Restart Game
      </button>
      <br>

      <script>
          $('#interval').slider({formatter: function(value) {
              return 'Current value: ' + value;
          }
          });

          $('#unit-size').slider({formatter: function(value) {
              return 'Current value: ' + value;
          }
          });
      </script>
    </div>

    <div class="col-xs-12 col-sm-8">
      <canvas id="snake-canvas" width="400" height="400"></canvas>
    </div>

  </div>

{% endblock page_content %}


{% block scripts %}
  {{ super() }}

  <!-- Allows us to use typescript. -->
  <script src="{{ url_for('static', filename='js/lib/require.js') }}"></script>
  <script src="{{ url_for('static', filename='js/built/require-config.js') }}"></script>
  <script src="{{ url_for('static', filename='js/built/games/main.js') }}"></script>

{% endblock scripts %}

