{% extends "base.html" %}

{% block page_content %}

  <div class="jumbotron">
    <h1>Flask Practice</h1>
    <p>Me learning various aspects of the Flask Microframework and tinkering around with
      with JavaScript/JQuery. General focus is interacting with databases and generating
      clean data visualizations. I've also started making small JavaScript games because
      it's fun. Feel free to have a look around while I figure out what needs to be done.
    </p>
  </div>

  <div class="row">
  <div class="col-sm-8">
    <h2>Overview</h2>
    <p>
      Here are some of the main features/packages used so far (detailed overview coming soon):
    </p>

    <ul>
      <li><b>Database:</b> Flask-SQLAlchemy.</li>
      <li><b>REST API:</b> Flask-RESTful.</li>
      <li><b>Modern JS:</b> The Games are written using TypeScript transpiled to the
        modern JS ES2015 syntax.</li>
      <li>
       <b>Reference Material:</b> I've started compiling a list of notes as I learn new
        tools/frameworks in the reference dropdown above. Currently it contains info/notes from
        <a href="http://eloquentjavascript.net/index.html">Eloquent JavaScript (E-Book)</a>,
        JQuery, animation, and, of course, Flask.
      </li>
    </ul>

    <p>One of the main goals for the site is to easily see the source code alongside the
      functionality. A great example is <a href="http://bootswatch.com/default/">Bootswatch</a>,
      the site that provides the API I use for the theme selector on the top right of the site.
    </p>
  </div>
  </div>

  <div class="row">
  <div class="col-sm-6">
    <h2>Questions and Comments</h2>
    Have any feedback? Criticisms? Hate my design choice for X, Y, or Z? Let me know! I'm
    learning and any feedback is extremely useful.
  </div>
  </div>

  <div class="row">
  <div class="col-sm-6">
    <h2>Contact Info</h2>
    <p>Until I make a proper contact area, please see
      <a href="http://mckinziebrandon.me">my website</a> for more information. Thanks!</p>
  </div>
  </div>


{%  endblock page_content %}

