{% extends "base.html" %}

{% block page_content %}

  <div class="jumbotron">
    <h1>Flask Practice</h1>
    <p>Me learning various aspects of the Flask Microframework and tinkering around with
      with JavaScript/JQuery. General focus is interacting with databases and generating
      clean data visualizations. I've also started making small JavaScript games because
      it's fun. Feel free to have a look around while I figure out what needs to be done.
    </p>
  </div>

  <div class="row">
  <div class="col-sm-7">
    <h2>Overview</h2>
    <p>So far, the site is mostly my scattered notes while learning a lot of different topics,
    which you can find in the Reference (dropdown) sections. More recently, I've started making
      little mini-games in JavaScript and making improvements to my modest toy database of user/post forms.
    </p>
  </div>
  </div>

  <div class="row">
  <div class="col-sm-6">
    <h2>Questions and Comments</h2>
    Have any feedback? Criticisms? Hate my design choice for X, Y, or Z? Let me know! I'm
    learning and any feedback is extremely useful.
  </div>
  </div>

  <div class="row">
  <div class="col-sm-6">
    <h2>Contact Info</h2>
    <p>Until I make a proper contact area, please see
      <a href="http://mckinziebrandon.me">my website</a> for more information. Thanks!</p>
  </div>
  </div>


{%  endblock page_content %}

