{% extends "base.html" %}
{% set active_page = "input_practice" %}
{% from "macros/forms.html" import render_basic_form %}
{% from "macros/requests.html" import post_request %}

{% block page_content %}

  <div class="jumbotron">
    <h1>Input Practice</h1>
    <p>Interacting with the database and forms in general.</p>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <h2>Add to Database</h2>
      {{ post_request(forms['user_form']) }}
    </div>
  </div>  <!-- End: Add to Database (row) -->

  <hr>
  <!-- Being as Flasky as possible -->
  <div class="row">
    <div class="col-sm-6">
      <h2>Inputs with Flask</h2>
      {{ render_basic_form(forms['basic_form']) }}
    </div>

    <div class="modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>



  </div>

  <hr>
  <!-- Misc. Form stuff from Eloquent JS. -->
  <div class="row">
    <div class="col-sm-8">
      <h2>Text Fields (Eloquent JS)</h2>
      <p>To insert "Brandon is amazing" anywhere in the text area, press F2.</p>
      <textarea id="amazing" class="form-control" rows="2"></textarea>
      <script>
          var F2 = 113;
          var textarea = $("#amazing").get(0);
          $(textarea).on("keydown", function(event) {
              if (event.keyCode == F2) {
                  replaceSelection(textarea, "Brandon is amazing");
                  event.preventDefault();
              }

          });

          function replaceSelection(field, word) {
              // Get start and end of the selection.
              var from = field.selectionStart;
              var to = field.selectionEnd;
              // Replace the currently selected part of text with word.
              field.value =
                      field.value.slice(0, from)
                      + word
                      + field.value.slice(to);
              // Put the cursor after the word.
              field.selectionStart = field.selectionEnd = from + word.length;
          }
      </script>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-8">
      <h2>File Fields</h2>
      <p>How to work with file uploads.</p>
      <label class="btn btn-default btn-file">
        Browse <input id="file-input" type="file" style="display: none;">
      </label>
      <script>
          var input = document.querySelector("#file-input");
          $(input).on("change", function() {
              if (input.files.length > 0) {
                  var file = input.files[0];
                  // Insert a new paragraph element after input node.
                  $(input.parentNode)
                          .after($(
                                  "<p>You chose " + file.name + ". "
                                  + "It has type " + file.type + ".</p>"));
              }
          });
      </script>
    </div>
  </div>
{%  endblock page_content %}

