<!-- app/templates/login.html: our login page. -->
{% extends "base.html" %}

<!-- Use the 'content' block defined in base.html for placing our form. -->
{% block content %}
    <script type="text/javascript">
        /**
         * Build the OpenID from a userName.
         * @param openid
         * @param pr One of the provider entries defined in config.py.
         */
    function set_openid(openid, pr) {
        var userName = openid.search('<username>');
        if (userName != -1) {
            // openid requires username.
            var user = prompt('Enter your ' + pr + 'username:');
            openid = openid.substr(0, userName) + user;
        }
        var form = document.forms['login'];
        form.elements['openid'].value = openid;
    }
    </script>

    <h1>Sign In</h1>
    <!-- Our login <form> element:
        * action: defines the location (URL) where the form's data should be sent.
          -- Could also be a script e.g. '/myscript.py'
        * method: "get" or "post"; with HTTP method to send data with.
          -- post: sends data to the server.
          -- get: only retrieves data; requests representation of a resource.
          -- In reality, get and post serve very similar purposes. POST is more common,
             as it is more secure, has no limit of data, and only the server sent the
             request can see the content of the request.
        * name: attribute that provides the variable name for the control. For example,
            the info entered in our form is defined as the "login" variable. A name is
            required except for special form types like "submit" and "reset".
    -->
    <form action="" method="post" name="login">
        <!-- This will get replaced by a hidden field that implements CSRF prevention. -->
        {{ form.hidden_tag() }}

        <!-- 1st field: LoginForm.openid -->
        <p>
            Please enter your OpenID, or select one of the providers below:<br>
            {{ form.openid(size=80) }}<br>

            <!-- Show any validation errors detected by Flask-WTF. -->
            {% for error in form.openid.errors %}
                <span style="color: indianred;">[{{ error }}]</span>
            {% endfor %}<br>
            |{% for pr in providers %}
                <a href="javascript:set_openid(' {{ pr.url }}', '{{ pr.name }}');")>
                    {{ pr.name }}
                </a> |
            {% endfor %}
        </p>

        <!-- 2nd field: LoginForm.remember_me -->
        <p>{{ form.remember_me }} Remember Me</p>

        <!-- Button control element. Submits form data to server when clicked. -->
        <p><input type="submit" value="Sign In"></p>
    </form>
{% endblock %}
