{% extends "base.html" %}
{% set active_page = "secret_page" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/secret_page.css') }}">
{% endblock head %}

{% block page_content %}

  <div class="jumbotron">
    <h1>Collaborative Editor</h1>

    <p>A multi-user collaborative editor using the
      <a href="https://firebase.google.com/docs/database/">Firebase Realtime
        Database</a>. Click the small blue buttons at the top right of a section to see
      its HTML.
    </p>

    <!-- Button trigger modal -->
    <button id="instructions" type="button" class="btn btn-primary btn-med">
      Coding Challenge Overview
    </button>
    <script>
        // Modal instructions.
        $('#instructions').click(function() {
            $('#myModal').modal('show');
        });
    </script>
  </div>  <!-- End: jumbotron -->


  <!-- ============== Database View  ============== -->

  <h2>
    View the Database
    <span class="pull-right">
      <button type="button" class="source-button btn btn-primary btn-xs">
        < Generated >
      </button>
    </span>
  </h2>

  <div class="row">
    <div class="col-sm-12">
      <div id="key-value-display">
        (Empty)
        <!-- Inject (possibly nested) data. -->
      </div>
      <div id="most-common-word">
      </div>
    </div>
  </div>
  <hr>


  <!-- ============== Edit the Database============== -->

  <!-- Info row -->
  <!-- User inputs for key to value -->
  <h2>Edit the Database</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>
        You can add a key-value pair to your database by entering them in
        the inputs below. To create or update a key, you must specify the full
        path to the key. For the example on the right, we could update Bob's
        message by specifying his key as <span class="text-primary">names/Bob</span>.
      </p>
    </div>
    <div class="col-sm-7">
        <pre><code>
      "names": . . .
        "Bob": "Hello, world!"
        "Alice": "Have you seen Bob?"
        </code></pre>
    </div>
  </div>


  <!-- ============== Create/Update ============== -->

  <!--- Form: Create key-value pair. -->
  <h3>Create/Update a Key-Value Pair
    <span class="pull-right">
      <button type="button" class="source-button btn btn-primary btn-xs">
        < Written >
      </button>
    </span>
  </h3>

  <div class="row">
    <div id="user-inputs" class="form-group">

      <!-- Key Input -->
      <div class="col-sm-5">
        <div class="input-group">
          <span id="key-addon" class="input-group-addon">Key</span>
          <input id="key" name="key" value='' type="text"
                 aria-describedby="key-addon"
                 class="form-control">
        </div>
      </div>

      <!-- Value Input -->
      <div class="col-sm-5">
        <div class="input-group">
          <span id='value-addon' class="input-group-addon">Value</span>
          <input id="value" name="value" value='' type="text"
                 aria-describedby='value-addon'
                 class="form-control">
        </div>
      </div>

      <!-- Submit button. -->
      <div class="col-sm-2">
        <button type="submit" class="btn btn-submit btn-sm">
          Submit
        </button>
      </div>
    </div>
  </div>


  <!-- ============== Deletion ============== -->

  <h3>Delete a Key-Value Pair
    <span class="pull-right"><button type="button" class="source-button btn btn-primary btn-xs">
      < Written >
    </button></span>
  </h3>

  <div class="row">
    <div id='delete-key' class="form-group">
      <!-- Key Input -->
      <div class="col-sm-5">
        <div class="input-group">
          <span id="delete-key-addon" class="input-group-addon">Key</span>
          <input id="delete-key-input" name="key" value='' type="text"
                 aria-describedby="delete-key-addon"
                 class="form-control">
        </div>
      </div>

      <div class="col-sm-2">
        <button class="btn btn-danger btn-small" type="button">
          Delete
        </button>
      </div>
    </div>
  </div>
  <hr>


  <!-- JS copy/pasted -->
  <h2>JavaScript Source Code</h2>
  <div class="row">
  <div class="col-sm-12">
    <p>Just copy/pasted from
      <a href="https://github.com/mckinziebrandon/FlaskPractice/tree/master/app/static/js/secret_page.ts">
        secret_page.ts
      </a> (technically typescript but only very rarely utilized here).
    </p>

    <pre>
      <code class="js">
        /** static/js/secret_page.ts: source code for the Agora code challenge.
 * Database events:
 * - value
 * - child_added
 * - child_removed
 * - child_changed
 * - child_moved
 */
declare var firebase: any;
declare var config: any;
const ROOT_PATH = '/';
const ENTER_KEY = 13;

function validRef(r: string) {
    if (r) {
        return r.search(/\.|#|\$|\[|\]/) === -1;
    }
    return false;
}

$(document).ready(function() {

    // Grab our database.
    let database = firebase.database();
    // Reference object to our database root.
    let rootRef = database.ref(ROOT_PATH);

    // Grab our DOM elements (inputs).
    let keyInput = $('#key');
    let valInput = $('#value');
    let display = $('#key-value-display');
    let submitBtn = $('.btn-submit');
    let deleteGroup = $('#delete-key');
    let wordFreq = new Map&lt;string, number&gt;();

    /** Returns a < li > element for use in the database display. */
    function getDisplayItem(key: string, val: string): JQuery {
        return $(< ELEMENT >);
    }

    /** Recursively update the DOM by iterating through snapshot/children. */
    function recursiveDisplaySnapshot(snapshot, listNode) {
        if (snapshot.hasChildren()) {
            let newListNode = $( < ELEMENT > );
            listItem.append(newListNode);
            listNode.append(listItem);
            snapshot.forEach(function(childSnapshot) {
                recursiveDisplaySnapshot(childSnapshot, newListNode);
            });
        } else {
            listNode.append(getDisplayItem(snapshot.key, snapshot.val()));
            let wordsTokenized = snapshot.val().split(' ');
            wordsTokenized.forEach(function(word) {
                if (wordFreq.has(word)) {
                    // Increment word count by one.
                    wordFreq.set(word, wordFreq.get(word) + 1);
                } else {
                    wordFreq.set(word, 1);
                }
            })
        }
    }

    /** Attach an asynchronous listener to a database.Reference.
     * - The listener is triggered once for the initial state of the dat
     *   and again anytime the data changes.
     */
    function addListener(key: string) {
        let listener = database.ref(key);
        listener.on('value', function(snapshot) {
            console.log(`[value]: ${ key } --> ${ snapshot.val() }`);
        });
        return listener;
    }

    /** Remove the assigned listener for the given key. */
    function removeListener(key: string) {
        console.log('Removing listener for:', key);
        database.ref(key).off();
    }

    /** Helper function for extracting the most common word. */
    let getKeyByValue = (value: number): string =&gt; {
        return Array.from(wordFreq.keys())
            .filter(key =&gt; wordFreq.get(key) === value)[0];
    }

    /** Redraw the database tree when a value is added/changed/removed. */
    rootRef.on('value', function(rootSnapShot) {
        display.empty();
        wordFreq.clear();
        display.append( < ELEMENT > );
        rootSnapShot.forEach(function(childSnapshot) {
            recursiveDisplaySnapshot(childSnapshot, display.find('ul').first());
        });

        let maxWordCount = Math.max(...wordFreq.values());
        let mostCommonWord = getKeyByValue(maxWordCount);
        $('#most-common-word').html( < ELEMENT > );
    });

    /** Write a key-value pair to database. */
    function setCommand(key: string, value: string): void {
        database.ref(ROOT_PATH + key).set(value);
        addListener(key);
    }

    /** Remove the given key and it's associated value from the database. */
    function deleteCommand(key: string): void {
        database.ref(ROOT_PATH + key).remove();
        removeListener(key);
    }

    /* _____________ Form/Input Events ______________ */

    // Handle simple button events.
    submitBtn.on('click', function() {
        // Assign key -> value mapping in our database.
        if (validRef(keyInput.val()) == true) {
            setCommand(keyInput.val(), valInput.val());
        } else {
            console.log('INVALID REF. Ignoring.')
        }
    });

    $('#user-inputs').on('keyup', function(e) {
        if (e.which == ENTER_KEY) {
            submitBtn.click();
        }
    });

    deleteGroup.on('click', 'button', function(e) {
        let input = deleteGroup.find(':input');
        if (validRef(input.val()) == true) {
            deleteCommand(input.val());
        } else {
            console.log('INVALID REF. Ignoring.')
        }
    });

    deleteGroup.on('keyup', function(e) {
        if (e.which == ENTER_KEY) {
            deleteGroup.find('button').click();
        }
    })

});
      </code>
    </pre>

  </div>
  </div>

  <div class="modal fade" id="source-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">HTML Snippet</h4>
        </div>
        <div class="modal-body">
          <pre>
          </pre>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Instructions</h4>
        </div>
        <div class="modal-body">
          <p>
            Use the Firebase Realtime Database to make this a multi-user
            collaborative editor! You can follow the instructions here to get
            started.
          </p>

          <p>
            Use the "Public" rules when you get to "Configure Firebase
            Database Rules"; this will mean you don't have to worry about
            making users log in before they can update the structure.
          </p>


          <p>
            Since the Firebase database naturally holds the type of data we're
            using here, and uses path names with slashes just like our "set"
            and "delete" commands, it does some of your work for you. </p>

          <p>
            For example, you can implement the "set" command something like this:
          </p>

          <pre><code class="js">
            function setCommand(path, value) {
              firebase.database().ref(path).set(value);
            }
        </code></pre>

          <p>
            The application should redraw the data in response to notifications from
            Firebase, not directly in response to your commands, so that
            you can open it in multiple tabs (or even on different computers),
            and if you make a change in one tab, the other tab will show
            the changes you made.
          </p>
        </div>
      </div>
    </div>
  </div>

{%  endblock page_content %}


{% block scripts %}
  <!-- Firebase CDN -->
  <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-database.js"></script>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
  <script>
      // Initialize Firebase
      var config = {
          apiKey: "AIzaSyBWR9Y0a9cusRxYaRJX5eu1QqAbgxJz13g",
          authDomain: "collaborativeeditor-9b8e5.firebaseapp.com",
          databaseURL: "https://collaborativeeditor-9b8e5.firebaseio.com",
          projectId: "collaborativeeditor-9b8e5",
          storageBucket: "collaborativeeditor-9b8e5.appspot.com",
          messagingSenderId: "472494972680"
      };
      firebase.initializeApp(config);
  </script>

  <!-- ------------- JavaScript ------------- -->

  <!-- Core Bootstrap JS (NOT provided by Bootswatch!!). -->
  <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>

  <!-- Syntax Highlighting -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <!-- Recommended by flask docs. -->
  <script>
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
  </script>

  <!-- For the theme selector/api calls. -->
  <script src="{{ url_for('static', filename='js/util/bootswatch.js') }}"></script>

  <!-- Make stuff look pretty. -->
  <script src="{{ url_for('static', filename='js/bootstrapify.js') }}"></script>

  <!-- Main JS for this page. -->
  <script src="{{ url_for('static', filename='js/built/secret_page.js') }}"></script>

  <!-- Pretty source modals! -->
  <script>
      $(function() {
          $('.source-button').click(function () {
              let html = $(this).parent().parent().next().html();
              html = cleanSource(html);
              $("#source-modal pre").text(html);
              $("#source-modal").modal('show');
          });
          $('.source-button').show();

          function cleanSource(html) {
              let lines = html.split(/\n/);
              lines.shift();
              lines.splice(-1, 1);
              let indentSize = lines[0].length - lines[0].trim().length,
                      re = new RegExp(" {" + indentSize + "}");
              lines = lines.map(function (line) {
                  if (line.match(re)) {
                      line = line.substring(indentSize);
                  }
                  return line;
              });
              lines = lines.join("\n");
              return lines;
          }
      });
  </script>

{% endblock scripts %}


